streamlit==1.35.0
speechrecognition==3.10.1
soundfile
audio_recorder_streamlit==0.0.10
streamlit-webrtc==0.47.0
requests
langchain
langchain-community
langchain-core
langchain-ollama
flask==2.3.3
flask-cors==4.0.0
gunicorn
